<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>Boolzap</title>
</head>

<body>
    <div id="app">
        <div class="container-background--top">

        </div>
        <div class="container-background--bottom">

        </div>
        <main>

            <!-- left side of the app -->
            <div class="leftside">
                <div class="header">
                    <div class="icon">
                        <img src="img/man.png">
                    </div>
                    <div class="user">
                        <span class="span-name">
                            Nome Utente
                        </span>
                    </div>
                    <div class="icons">
                        <i class="fa-solid fa-rotate-right"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="notifiche">
                    <div class="icon">
                        <i class="fa-solid fa-bell-slash" id="bell-notifiche"></i>
                    </div>
                    <div class="user">
                        <span class="span-name">
                            Ricevi notifiche di nuovi messaggi
                        </span>
                        <div class="attiva-notifiche">
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <div class="icons">
                    </div>
                </div>
                <!-- search bar -->
                <div class="search-contact">
                    <input class="mainLoginInput" type="text" placeholder=" &#xf002;  Cerca o inizia una nuova chat"
                        v-model="searchContact">
                </div>
                <!-- list of contacts -->
                <div class="contact" v-for="(contact, idxContact) in filteredList"
                    @click="showConversation(idxContact)">
                    <div class="icon">
                        <img :src="contact.avatar">
                    </div>
                    <div class="name">
                        <span class="span-name">
                            {{contact.name}}
                        </span>
                    </div>
                    <div class="time">00:00</div>
                </div>
            </div>

            <!-- right side of the app -->
            <div class="rightside">
                <div class="header">
                    <div class="icon">
                        <img :src="contacts[activeItem].avatar">
                    </div>
                    <div class="user">
                        <span class="span-name">
                            {{contacts[activeItem].name}}
                        </span>
                    </div>
                    <div class="icons">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <!-- conversation -->
                <div class="conversation">

                    <div class="text-message" v-for="(message, idxMessages) in contacts[activeItem].messages">
                        <div class="text"
                            :class="contacts[activeItem].messages[idxMessages].status === 'sent' ? 'green' : 'grey'">
                            <div class="msg">{{message.message}}</div>
                            <div class="time">{{message.date}}</div>
                        </div>
                    </div>
                </div>

                <!-- input messages -->
                <div class="input-message">
                    <div>
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <input v-model="inputMessage" type="text" placeholder="Scrivi un messaggio"
                        @keyup.enter="sendMessage()">
                    <div>
                        <i class="fa-solid fa-microphone-slash"></i>
                    </div>
                </div>
            </div>
        </main>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- <script src="
https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js
"></script> -->
    <script src="main.js"></script>
</body>

</html>