<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>Boolzap</title>
</head>

<body>
    <div id="app">
        <div class="container-background--top">

        </div>
        <div class="container-background--bottom">

        </div>
        <main>

            <!-- left side of the app -->
            <div class="leftside">
                <div class="header">
                    <div class="user">
                    </div>
                    <div class="icons">
                    </div>
                </div>
                <div class="notifiche">

                </div>
                <!-- search bar -->
                <div class="search-contact">
                    <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchContact">
                </div>
                <!-- list of contacts -->
                <div class="contact" v-for="(contact, idxContact) in filteredList"
                    @click="showConversation(idxContact)">
                    <div class="icon">
                        <img :src="contact.avatar">
                    </div>
                    <div class="name">{{contact.name}}</div>
                    <div class="time">00:00</div>
                </div>
            </div>

            <!-- right side of the app -->
            <div class="rightside">
                <div class="header">
                    <div class="user">
                    </div>
                    <div class="icons">
                    </div>
                </div>

                <!-- conversation -->
                <div class="conversation">

                    <div class="text-message" v-for="(message, idxMessages) in contacts[activeItem].messages">
                        <div class="text"
                            :class="contacts[activeItem].messages[idxMessages].status === 'sent' ? 'green' : 'grey'">
                            <div class="msg">{{message.message}}</div>
                            <div class="time">{{message.date}}</div>
                        </div>
                    </div>
                </div>

                <!-- input messages -->
                <div class="input-message">
                    <input v-model="inputMessage" type="text" placeholder="Scrivi un messaggio"
                        @keyup.enter="sendMessage()">
                </div>
            </div>
        </main>










    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>

</html>