* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid;

}

#app {
    height: 100vh;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* main part */
.container-background--top {
    height: 100px;
    background-color: rgb(3, 156, 42);
}

.container-background--bottom {
    height: calc(100% - 100px);
    background-color: rgb(175, 175, 175);
}

main {
    width: 80%;
    height: 95%;
    background-color: rgb(247, 247, 251);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}



/* left side of the app */
.leftside {
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
    overflow-y: scroll;
}

.notifiche {
    height: 60px;
    background-color: rgb(125, 203, 242);
}

.search-contact {
    height: 30px;
    background-color: rgb(231, 236, 239);
}

.leftside>.contact {
    height: 60px;
    display: flex;
}

.leftside>.contact>.icon {
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.leftside>.contact>.name {
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.leftside>.contact>.time {
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

.leftside>.contact>.icon>img {
    width: 50px;
    height: 50px;
}

/* right side of the app */
.rightside {
    flex-basis: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}

.conversation {
    height: calc(100% - 120px);
    padding: 2rem 3rem;
    background-color: rgb(197, 192, 192);
}

.text-message {
    height: 60px;
    display: flex;
    position: relative;
}

.text-message>.text {
    font-size: 14px;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
}

.text>.time {
    font-size: 9px;
    color: rgb(164, 165, 165);
    text-align: right;
}


/* input bar */
.input-message {
    height: 60px;
}


/* left and right side of the app */
.leftside>.header,
.rightside>.header {
    height: 60px;
    background-color: rgb(166, 170, 170);
    display: flex;
}

.leftside>.header>.user,
.rightside>.header>.user {
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}

.leftside>.header>.icons,
.rightside>.header>.icons {
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}




/* VUE JS class */
.green {
    background-color: rgb(77, 215, 105);
    right: 0;

}

.grey {
    background-color: rgb(231, 235, 232);
    left: 0;
}