* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}

#app {
    height: 100vh;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* main part */
.container-background--top {
    height: 100px;
    background-color: rgb(0, 150, 136);
}

.container-background--bottom {
    height: calc(100% - 100px);
    background-color: rgb(216, 219, 213);
}

main {
    width: 80%;
    height: 95%;
    background-color: rgb(247, 247, 251);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}



/* left side of the app */
.leftside {
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
    overflow-y: scroll;
}

.leftside>.header {
    border-right: 1px solid;

}

.notifiche {
    height: 60px;
    background-color: rgb(156, 222, 251);
}

.search-contact {
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.search-contact>input {
    width: 95%;
    height: 90%;
    color: rgb(187, 181, 181);
    font-family: FontAwesome;
    font-size: 10px;
}


.leftside>.contact {
    height: 60px;
    display: flex;
}

.leftside>.contact:hover {
    background-color: rgb(233, 235, 235);
}

.notifiche {
    display: flex;
}

.notifiche>.icon {
    line-height: 60px;
    text-align: center;
}

.attiva-notifiche {
    color: rgb(187, 181, 181);
    font-size: 10px;
    text-decoration: underline;
    position: relative;
    left: 5%;
    bottom: 35%;
}

#bell-notifiche {
    padding: 10px 7px;
    border-radius: 30px;
    color: rgb(156, 222, 251);
    background-color: white;
}


.notifiche>.user {
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}

.contact>.time {
    text-align: center;
}

.time>span {
    color: gray;
    font-size: 12px;
    vertical-align: middle;
}

.leftside>.contact>.icon,
.leftside>.header>.icon,
.notifiche>.icon,
.rightside>.header>.icon {
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);

}


.rightside>.header>.icon {
    margin-right: -50px;
}

.leftside>.contact>.name,
.rightside>.header>.user {
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.leftside>.contact>.time,
.rightside>.header>.icons {
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

.leftside>.contact>.icon>img,
.leftside>.header>.icon>img,
.rightside>.header>.icon>img {
    width: 50px;
    height: 50px;
    position: relative;
    left: 12%;
    top: 6%;
    border-radius: 30px;
}

/* right side of the app */
.rightside {
    flex-basis: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}

.conversation {
    height: calc(100% - 120px);
    padding: 2rem 3rem;
    overflow-y: scroll;
    background-image: url(img/whatApp.jpg);
    background-size: contain;
    background-position: center;
}

.text-message {
    height: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.text-message>.text {
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
}

.text>.time {
    font-size: 9px;
    color: rgb(164, 165, 165);
    text-align: right;
}

.message-arrow {
    display: inline;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 10%;
    top: 200%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ccc7c7;
}

.dropdown a:hover {
    background-color: #e1dddd;
}


/* input bar */
.input-message {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-message>input {
    width: 80%;
    height: 70%;
}


/* left and right side of the app */
.leftside>.header,
.rightside>.header {
    height: 60px;
    background-color: rgb(234, 234, 234);
    display: flex;
}

.leftside>.header>.user,
.rightside>.header>.user {
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.leftside>.header>.icons,
.rightside>.header>.icons {
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
    line-height: 55px;
    text-align: right;
    padding-right: 10px;
}

.span-name {
    line-height: 55px;
    position: relative;
    left: 5%;
    font-size: 12px;
    font-weight: bold;
}

.fa-solid,
.fa-regular {
    color: rgb(187, 181, 181);
    font-size: 20px;
    margin: 0px 5px;
}

.fa-solid:hover,
.fa-regular:hover {
    cursor: pointer;
}

.fa-chevron-down {
    font-size: 10px;
}

input:hover {
    border: 2px solid rgb(113, 19, 139);
}


/* VUE JS class */
.green {
    background-color: rgb(213, 249, 186);
    align-self: flex-end;
}


.grey {
    background-color: rgb(255, 255, 255);
    align-self: flex-start;
}

.show {
    display: block;
}